<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hurpods.springboot.hurpodsblog.dao.ReporterDAO">
    <resultMap id="ReporterBaseResultMap" type="com.hurpods.springboot.hurpodsblog.pojo.Reporter">
        <id column="reporter_id" jdbcType="INTEGER" property="reporterId"/>
        <result column="reporter_title" jdbcType="VARCHAR" property="reporterTitle"/>
        <result column="reporter_content" jdbcType="VARCHAR" property="reporterContent"/>
        <result column="book_id" jdbcType="INTEGER" property="bookId"/>
        <result column="book_rate" jdbcType="FLOAT" property="bookRate"/>
        <result column="post_time" jdbcType="TIMESTAMP" property="postTime"/>
        <result column="reporter_status" jdbcType="INTEGER" property="reporterStatus"/>
    </resultMap>

    <select id="getAllReporters" resultMap="ReporterBaseResultMap">
        select *
        from reporter
    </select>
    <select id="getReporterByBook" resultMap="ReporterBaseResultMap">
        select *
        from reporter
        where book_id = #{bookId}
    </select>
    <insert id="insertReporter" parameterType="com.hurpods.springboot.hurpodsblog.pojo.Reporter" useGeneratedKeys="true"
            keyProperty="reporterId">
        insert into reporter (reporter_title, reporter_content, book_id, book_rate, post_time, reporter_status)
        VALUES (#{reporterTitle}, #{reporterContent}, #{bookId}, #{bookRate}, #{postTime}, #{reporterStatus})
    </insert>
</mapper>